<div>
    <div class="row">
        <div class="col-1">Usuario</div>
        <div class=" col-1"> Contraseña </div>
    </div>
    <div class="row">
        <form formControlName="loginUser">
            <input id="usuario" class="col-1" type="text" formControlName="usuario">
            <input id="password" class="col-1" type="password" formControlName="password">
        </form>
    </div>
    <div>
        <button type="cancel" (click)="getClientes()">
            Cancelar
        </button>
        <button (click)="setLogin()">
            Enviar
        </button>
    </div>
</div>